@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>
<a asp-area="" asp-controller="Reports" asp-action="SalesReports" class="btn btn-primary">Sales Report</a>
<a asp-area="" asp-controller="Reports" asp-action="InventoryReports" class="btn btn-secondary">Inventory Report</a>
