@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SalesAddModel

@{
    ViewData["Title"] = "Create New Order";
}

<h2>Create New Order</h2>

<form asp-action="Create" method="post">
    <fieldset>
        <legend>Order</legend>
    <div class="form-group">
        <label asp-for="Orders.OrderID" class="control-label"></label>
        <input asp-for="Orders.OrderID" class="form-control" />
        <span asp-validation-for="Orders.OrderID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.CustomerID" class="control-label"></label>
        <select asp-for="Orders.CustomerID" class="form-control" asp-items="ViewBag.CustomerID">
            <option value="">--CustomerID--</option>
        </select>
        <span asp-validation-for="Orders.CustomerID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.OrderDate" class="control-label"></label>
        <input asp-for="Orders.OrderDate" class="form-control" type="date" />
        <span asp-validation-for="Orders.OrderDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.OrderStatus" class="control-label"></label>
        <input asp-for="Orders.OrderStatus" class="form-control" />
        <span asp-validation-for="Orders.OrderStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.TotalAmount" class="control-label"></label>
        <input asp-for="Orders.TotalAmount" class="form-control" type="number" />
        <span asp-validation-for="Orders.TotalAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.TaxAmount" class="control-label"></label>
        <select asp-for="Orders.TaxAmount" class="form-control" asp-items="ViewBag.Tax" >
            <option value="">--Tax--</option>
        </select>
        <span asp-validation-for="Orders.TaxAmount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Orders.DiscountAmount" class="control-label"></label>
        <select asp-for="Orders.DiscountAmount" class="form-control" asp-items="ViewBag.Discount">
            <option value="">--Discount--</option>
        </select>
        <span asp-validation-for="Orders.DiscountAmount" class="text-danger"></span>
    </div>
    </fieldset>

    <fieldset>
        <legend>Order Details</legend>
        
        <div class="form-group">
            <label asp-for="OrderDetails.ProductID" class="control-label"></label>
                <select asp-for="OrderDetails.ProductID" class="form-control" asp-items="ViewBag.ProductID">
                <option value="">--ProductID--</option>
            </select>
            <span asp-validation-for="OrderDetails.ProductID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrderDetails.OrderDetailID" class="control-label"></label>
            <input asp-for="OrderDetails.OrderDetailID" class="form-control" />
            <span asp-validation-for="OrderDetails.OrderDetailID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrderDetails.Quantity" class="control-label"></label>
            <input asp-for="OrderDetails.Quantity" class="form-control" />
            <span asp-validation-for="OrderDetails.Quantity" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrderDetails.UnitPrice" class="control-label"></label>
            <input asp-for="OrderDetails.UnitPrice" class="form-control" />
            <span asp-validation-for="OrderDetails.UnitPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="OrderDetails.TotalPrice" class="control-label"></label>
            <input asp-for="OrderDetails.TotalPrice" class="form-control" />
            <span asp-validation-for="OrderDetails.TotalPrice" class="text-danger"></span>
        </div>
        </fieldset>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

